@font-face {
    font-family: 'Source Sans Pro';
    src: url(fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

body,html{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    background-color: #dadada;
}

/* CSS For the navbar */

.navbar{
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.navbar img{
    float: left;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-top: 18px;
    width: 150px;
    cursor: pointer;
}

.links{
    float: right;
    margin-right: 0px;
    margin-top: 0px;
}

.links a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    float: left;
    padding: 35px 25px;
    background-color: transparent;
    transition: all 0.1s;
    box-sizing: border-box;
}

.links a:hover{
    background-color: rgb(124, 124, 124);
}

.login{
    border-left: 1px solid rgb(27, 27, 27);
}

.login i{
    padding-right: 5px;
}

.logout{
    border-left: 1px solid rgb(27, 27, 27);
}

.logout i{
    padding-right: 5px;
}

.links .active{
    box-shadow:inset 0px -3px 0px 0px orangered;
    cursor: pointer;
}

#main{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s;
    position: relative;
    top: 108px;
}

.sidebar{
    width: 70px;
    position: absolute;
    top: 0px;
    left: -80px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 0px #aaaaaa;
    border-radius: 5px;
    overflow-x: hidden;
    white-space: nowrap;
    transition: all 0.3s;
}

.sidebar a{
    padding: 20px 24px;
    text-decoration: none;
    color: rgb(65, 65, 65);
    font-size: 20px;
    display: block;
    transition: all 0.15s;
}

.sidebar span{
    padding-left: 30px;
}

.sidebar a:hover{
    background-color: #e7e7e7;
}

.sidebar .fa-screwdriver-wrench{
    color: orangered;
}

.row{
    width: 100%;
    margin-bottom: 35px;
}

.row input, .row select{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    font-size: 20px;
    color: black;
    background-color: white;
    border: 1px solid gray;
    outline: none;
    box-sizing: border-box;
    vertical-align: top;
    padding-left: 5px;
}

.row label{
    font-size: 22px;
}

.row-selectors{
    width: 49.7%;
    display: inline-block;
}

.row-price{
    width: 49.7%;
    display: inline-block;
}

.row textarea{
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    color: black;
    background-color: white;
    border: 1px solid gray;
    outline: none;
    box-sizing: border-box;
    vertical-align: top;
    padding-left: 5px;
    resize: none;
    font-family: 'Source Sans Pro', sans-serif;
}

#submit{
    width: 160px;
    border-radius: 25px;
    cursor: pointer;
    background-color: orangered;
    color: white;
    border: none;
    transition: all 0.2s;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

#submit:hover{
    background-color: rgb(216, 58, 0);
}

/*
#main form{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 5px;
}

#main form .row{
    display: block;
    padding: 15px 10px 0px 10px;
    text-align: left;
}

#main form input{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
    box-sizing: border-box;
    font-size: 15px;
}

#main form label{
    position: relative;
    bottom: 5px;
}

.row-selectors{
    display: inline-block;
    width: 49.7%;
}

.row-selectors select{
    width: 100%;
    height: 30px;
    border:none;
    border-radius: 5px;
    background-color: #e0e0e0;
    font-size: 15px;
    padding-left: 2px;
}

.row input{
    padding-left: 5px !important;
}

.row-price{
    width: 49.7%;
    display: inline-block;
}

.row-price select, input{
    width: 100%;
    font-size: 15px;
    padding-left: 2px;
}

.row-price select{
    width: 100%;
    height: 30px;
    border:none;
    border-radius: 5px;
    background-color: #e0e0e0;
}

.row textarea{
    width: 100%;
    box-sizing: border-box;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    resize: none;
    font-family: 'Source Sans Pro';
    font-size: 17px;
    padding-left: 5px;
    padding-top: 5px;
}

#submit{
    float: left;
    width: 100px;
    height: 35px;
    cursor: pointer;
    padding: 0;
    margin-bottom: 10px;
    background-color: orangered;
    border-radius: 5px;
    box-shadow: 0px 2px 2px #aaaaaa;
    font-size: 15px;
    color: white;
    border:none;
    outline: none;
    transition: all 0.2s;
    font-family: 'Source Sans Pro SemiBold';
}

#submit:hover{
    background-color: rgb(224, 60, 0);
}

.clear{
    clear: both;
}

.row p{
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}

.go-back{
    padding-top: 10px !important;
    padding-bottom: 10px;
}
*/