@font-face {
    font-family: 'Source Sans Pro';
    src: url(fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

body,html{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    background-image: url("img/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* CSS For the navbar */

.navbar{
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.navbar img{
    float: left;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-top: 18px;
    width: 150px;
    cursor: pointer;
}

.links{
    float: right;
    margin-right: 0px;
    margin-top: 0px;
}

.links a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    float: left;
    padding: 35px 25px;
    background-color: transparent;
    transition: all 0.1s;
    box-sizing: border-box;
}

.links a:hover{
    background-color: rgb(124, 124, 124);
}

.login{
    border-left: 1px solid rgb(27, 27, 27);
}

.login i{
    padding-right: 5px;
}

.logout{
    border-left: 1px solid rgb(27, 27, 27);
}

.logout i{
    padding-right: 5px;
}

.links .active{
    box-shadow:inset 0px -3px 0px 0px orangered;
    cursor: pointer;
}

#main{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s;
    position: relative;
    top: 108px;
    padding-bottom: 150px;
    min-height: 100%;
}

.page-name{
    float: left;
    height: 47px;
}

.page-name h3{
    font-size: 25px;
    margin: 0;
    padding-right: 15px;
    border-right: 1px solid rgb(189, 189, 189);
}

.page-name p{
    color: #727586;
    padding-left: 15px;
    font-size: 15px;
    position: relative;
    bottom: 17px;
}

.page-name a{
    color: inherit;
    text-decoration: none;
}

.page-name a:hover{
    color: orangered;
}

.page-name span{
    font-size:30px;
    position: relative;
    top: 3px;
}

.page-name-text{
    display: inline-block;
    position: relative;
    bottom: 15px;
}

.sidebar{
    width: 70px;
    position: absolute;
    top: 0px;
    left: -80px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 0px #aaaaaa;
    border-radius: 5px;
    overflow-x: hidden;
    white-space: nowrap;
    transition: all 0.3s;
}

.sidebar a{
    padding: 20px 24px;
    text-decoration: none;
    color: rgb(65, 65, 65);
    font-size: 20px;
    display: block;
    transition: all 0.15s;
}

.sidebar span{
    padding-left: 30px;
}

.sidebar a:hover{
    background-color: #e7e7e7;
}

.sidebar .fa-screwdriver-wrench{
    color: orangered;
}



.row{
    width: 100%;
    margin-bottom: 35px;
}

.row input, .row select{
    width: 100%;
    height: 45px;
    border-radius: 2px;
    font-size: 18px;
    color: black;
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    outline: none;
    box-sizing: border-box;
    vertical-align: top;
    padding-left: 5px;
    font-family: 'Source Sans Pro SemiBold';
}
.row label{
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(107, 107, 107)
}

.row-selectors{
    width: 49.7%;
    display: inline-block;
}

.row-price{
    width: 49.7%;
    display: inline-block;
}

.row textarea{
    width: 100%;
    border-radius: 2px;
    font-size: 18px;
    color: black;
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    outline: none;
    box-sizing: border-box;
    vertical-align: top;
    padding-left: 5px;
    font-family: 'Source Sans Pro SemiBold';
    resize: none;
}

.last-row::after{
    content: "";
    clear: both;
    display: block;
}

#submit{
    width: 160px;
    border-radius: 2px;
    cursor: pointer;
    background-color: orangered;
    color: white;
    border: none;
    transition: all 0.2s;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
    float:right;
}

#submit:hover{
    background-color: rgb(216, 58, 0);
}

.mod-upload-status{
    font-size: 20px;
    float:left;
    padding:0;
    margin: 0;
    position: relative;
    top: 10px;
}

.footer{
    background: rgb(0, 0, 0);
    color: white;
    height: 250px;
    position: relative;
    text-align: left;
}

.footer-column{
    display: inline-block;
    vertical-align: middle;
    min-height: 150px;
    max-height: 150px;
    padding: 10px 30px;
    text-align: left;
}

.footer-column h3{
    font-size: 20px;
    color: #8a8a8a;
}

.footer-column a{
    color: rgb(204, 204, 204);
    text-decoration: none;
    font-size: 17px;
    padding: 0;
    margin: 0;
    transition: all 0.2s;
}

.footer-column a:hover{
    color: orangered;
}

.footer-content hr{
    border: 1px solid rgb(63, 63, 63);
    width: 98%;
    box-sizing: border-box;
}

.footer-content p{
    width: 600px;
    padding-left: 30px;
    padding-top: 10px;
}

.back-to-top{
    float: right;
    padding-right: 30px;
    padding-top: 30px;
}

.back-to-top a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.2s;
}

.back-to-top a i{
    padding-right: 5px;
    position: relative;
    bottom: 0;
    transition: all 0.2s;
    color: white;
}

.back-to-top a:hover{
    color: orangered;
}

.back-to-top a:hover i{
    color: orangered;
    bottom: 3px;
}

.back-to-top::after{
    clear: both;
    content: "";
    display: block;
}