@font-face {
    font-family: 'Source Sans Pro';
    src: url(fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

body,html{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    background-color: #dadada;
}

/* CSS For the navbar */

.navbar{
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.navbar img{
    float: left;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-top: 18px;
    width: 150px;
    cursor: pointer;
}

.links{
    float: right;
    margin-right: 0px;
    margin-top: 0px;
}

.links a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    float: left;
    padding: 35px 25px;
    background-color: transparent;
    transition: all 0.1s;
    box-sizing: border-box;
}

.links a:hover{
    background-color: rgb(124, 124, 124);
}

.login{
    border-left: 1px solid rgb(27, 27, 27);
}

.login i{
    padding-right: 5px;
}

.logout{
    border-left: 1px solid rgb(27, 27, 27);
}

.logout i{
    padding-right: 5px;
}

.links .active{
    box-shadow:inset 0px -3px 0px 0px orangered;
    cursor: pointer;
}

#main{
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 108px;
    transition: all 0.3s;
}

.sidebar{
    width: 70px;
    position: absolute;
    top: 0%;
    left: -80px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 0px #aaaaaa;
    border-radius: 5px;
    overflow-x: hidden;
    white-space: nowrap;
    transition: all 0.3s;
}

.sidebar a{
    padding: 20px 24px;
    text-decoration: none;
    color: rgb(65, 65, 65);
    font-size: 20px;
    display: block;
    transition: all 0.15s;
}

.sidebar span{
    padding-left: 30px;
}

.sidebar a:hover{
    background-color: #e7e7e7;
}

.sidebar .fa-screwdriver-wrench{
    color: orangered;
}

.main-content h1{
    font-size: 50px;
    color: rgb(47, 47, 47);
    padding: 0;
    margin: 0;
}

.main-content hr{
    border: 1px solid;
    border-color: rgb(195, 195, 195);
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.selector-item{
    padding-top: 10px;
    padding-right: 10px;
    float: left;
}

.clear{
    clear: both;
}

.selector-item a{
    text-decoration: none;
    padding: 10px 30px;
    box-shadow: 0px 0px 5px #aaaaaa;
    border-radius: 5px;
    font-size: 20px;
    color: black;
    background-color: white;
    transition: all 0.2s;
}

.selector-item a:hover{
    background-color: #e7e7e7;
}

#carSelect{
    width: 200px;
    height: 30px;
    background-color: white;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    outline: none;
    padding: 0;
    margin: 0;
}

.table{
    padding-top: 10px;
    margin-bottom: 10px !important;
}

.table-tools{
    width: 100%;
    position: relative;
}

.table span{
    color: lime;
    position: relative;
    top: 1px;
    left: 5px;
}
.table a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    float: left;
}

.table-editors{
    float: left;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
}

.table-editors a{
    display: inline-block;
    padding: 3px 10px;
    cursor: pointer;
}

.table-editors a:hover{
    background-color: rgb(223, 223, 223);
}

#edit-table{
    border-right: 1px solid rgb(134, 134, 134);
}

#delete-from-table{
    border-right: 1px solid rgb(134, 134, 134);
}

.table-editors::after{
    float: none;
    display: block;
    content: "";
    clear:both;
}

.search{
    float:right;
}

.search-items{
    position: relative;
    display: inline-block;
}

.search form input{
    height: 35px;
    width: 170px;
    border-radius: 20px;
    border: 1px solid gray;
    outline: none;
    padding-left: 5px;
    padding-right: 35px;
    box-sizing: border-box
}

#submit{
    width: 60px;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    background-color: orangered;
    color: white;
    border: none;
    transition: all 0.2s;
}

#submit:hover{
    background-color: rgb(216, 58, 0);
}

.search form a{
    position: absolute;
    right: 9px;
    top: 4px;
    color: orangered;
}

.search::after{
    float: none;
    display: block;
    content: "";
    clear:both;
}

.table a:hover{
    text-decoration: underline;
}

.mod-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.1em;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.mod-table thead tr{
    background-color: orangered;
    color: #ffffff;
    text-align: left;
}

.mod-table th,
.mod-table td{
    padding: 12px 15px;
}

.mod-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.mod-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.mod-table tbody tr:last-of-type{
    border-bottom: 2px solid orangered;
}

.mod-table tbody tr:hover{
    font-weight:  bold;
    color: orangered;
    cursor: pointer;
}

.tr{
    border-top-right-radius: 5px;
}

.tl{
    border-top-left-radius: 5px;
}

.table table b{
    font-size: 18px;
}

.table table a{
    color: gray !important;
    padding: 10px 10px;
    text-decoration: none;
    overflow: hidden;
    font-size: 21px;
}

.table table a:hover{
    color: red !important;
}
