@font-face {
    font-family: 'Source Sans Pro';
    src: url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

body, html{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url("../img/squad_2_edited.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
}

/* CSS For the navbar */

.navbar{
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.navbar img{
    float: left;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-top: 18px;
    width: 150px;
}

.links{
    float: right;
    margin-right: 0px;
    margin-top: 0px;
}

.links a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    float: left;
    padding: 35px 25px;
    background-color: transparent;
    transition: all 0.1s;
    box-sizing: border-box;
}

.links a:hover{
    background-color: rgb(124, 124, 124);
}

.login{
    border-left: 1px solid rgb(27, 27, 27);
}

.login i{
    padding-right: 5px;
}

.logout{
    border-left: 1px solid rgb(27, 27, 27);
}

.logout i{
    padding-right: 5px;
}

.links .active{
    box-shadow:inset 0px -3px 0px 0px orangered;
    cursor: pointer;
}

.form-container{
    width: 800px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row input{
    width: 100%;
    height: 50px;
    border: none;
    background-color: rgba(192, 192, 192, 0.623);
    outline: none;
    border-collapse: collapse;
    border-radius: 6px;
    padding-left: 10px;
    box-sizing: border-box;
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
}

.row input:-webkit-autofill,
.row input:-webkit-autofill:hover, 
.row input:-webkit-autofill:focus, 
.row input:-webkit-autofill:active{
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}

.row label{
    color: white;
    font-size: 18px;
}

.first-last-name{
    width: 49.7%;
    display: inline-block;
}


.row span{
    color: red;
}

.row input::placeholder{
    color: rgb(197, 197, 197);
}

.row-terms{
    width: 100%;
}

.terms{
    display: inline-block;
    width: 100%;
}

.terms input{
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
}

#submit_btn{
    padding: 0;
    margin-top: 25px;
    background-color: rgba(255, 68, 0, 0.685);
    color: white;
    font-size: 20px;
    font-family: 'Source Sans Pro';
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    width: 160px;
    border-radius: 25px;
    float:left;
}

#submit_btn:hover{
    background-color: rgb(255, 68, 0);
}

.go-to-login{
    color: white;
    font-size: 18px;
    text-decoration: none;
    float:right;
    margin-top: 5px;
}

.go-to-login:hover{
    text-decoration: underline;
}
